<div class="ribbon">
    <button class="btn btns-style-3" title="刷新" data-action="refreshAgain"><i class="iconfont icon-shuaxin"></i></button><span>当前页 / </span><span id="ribbonNow">设备数据</span>
</div>

<div class="contents">
    <div class="contentHeader">
        <span><i class="iconfont icon-shishizhuangtai"></i> 设备数据</span>
    </div>

    <div class="contentBody contentBodyBgd">
        <div class="contentBodyInAn Slide-in-topSlow">
            <div class="col-md-3">
                <div class="tree">
                    <ul role="tree" id="treelist"></ul>
                </div>
            </div>

            <div class="col-md-9" id="tabInfor">
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/home/RealTime.js"></script>
