<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="center" id="popup_titles"></div>
    </div>
</div>
<div class="pages">
    <div data-page="MessageList" class="page" id="MessageList">
        <div id="MessageList_ref" class="page-content pull-to-refresh-content" data-ptr-distance="55">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="list-block accordion-list" style="margin:0;">
                <ul id="inforList" class="msList"></ul>
            </div>
        </div>
    </div>
</div>