
<div class="pages navbar-through toolbar-through">
    <div data-page="boxChoose" class="page" id="boxChoose" style="padding-top: 3rem;">
       
        <div class="row no-gutter">
            <div class="col-20 pho20"></div>
            <div class="col-80 contWrap">
                 <div class="loadAni" style="display: none;">
                        <span style="width:42px; height:42px;" class="preloader"></span>  
                </div>
                <div class="conTitle">
                    <p class="conTitle">选择盒型</p>
                </div>
                <ul class="gategotyBox">
                    <li>全部</li>
                    <li>管式盒</li>
                    <li>一体成型盒</li>
                    <li>抽屉盒</li>
                    <li>手提盒</li>
                    <li>特殊盒型</li>
                </ul>
                <div class="conItem clear boxChooseList">
                    
                 <!--    <div class="oneItem">
                        <span class="iconfont icon-selected"></span>
                        <div class="imgWap"><img src="../../Image/mobile/pic/example6.png" alt=""></div>
                        <p class="cato">盒型6</p>
                        <p class="catoDetai">手提盒_微坑</p>
                        
                    </div> -->
                </div>
                <div class="pager">
                    <span class="allPage">共<span class="num">10</span>页</span>
                    <span class="prePage" onclick="prePage()">上一页</span>
                    <input class="pageNum" type="number" value="1">
                    <span class="nextPage" onclick="nextPage()">下一页</span>
                    <span class="pageSurn" onclick="surePage()">确定</span>
                </div>
                <div class="nextBtn">
                    <a href="#" class="backBtn button button-fill  button-big">返回</a>
                    <a href="mertarialChoose.html" class="button button-fill  button-big">
                        下一步
                    </a>
                </div>   
            </div>
        </div>
    </div>
</div>