

<!-- 顶部导航条-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
           <!-- <img src="../../Image/mobile/logo_03.png" alt="">
            劲嘉智慧终端运营 -->
            <a href="#" class="backHome"><img src="../../Image/mobile/back.png" alt=""></a>
        </div>
        <div class="right">
               <div class="name">
                   <span>Hi,admin</span>
                  <p class="photo" style="background: url(../../Image/mobile/logo_03.png) center center no-repeat;background-size: 100% 100%;border:1px solid #4a545e;"></p>
                  
               </div>

               <div class="corper">
                     <a href="#" class="open-panel"><i class="iconfont icon-shezhi"></i></a>
                    <a href="" ><i class="iconfont icon-wo"></i></a>    
               </div>
           
        </div>
    </div>
</div>

<div class="pages">
  <div class="page" data-page="companyErp" id="companyErp" style="padding-top: 3rem;">

    <div class="row CompanyContainer  no-gutter">
      <div class="col-20 CompanyLeft wlg300">1</div>
      <div class="col-80 CompanyRight w100">
        <!-- 内容块 start -->

        <div class="CompanyRight_Top_Matters zIndex displayblack" data-html="1">
          <div class="CompanyRight_Top_Map" id="CompanyRight_Top_Map"></div>
          <div class="CompanyRight_Top_Bar row">
            <div class="col-50 w100" id="CompanyRight_Top_Bar_Left"></div> 
            <div class="col-50 w100" id="CompanyRight_Top_Bar_Right"></div>
          </div>
          <span class="CompanyRight_Top_number">
             集团总人数
             <p>6299</p>
          </span>
        </div>

        <div class="CompanyRight_Top_Finance" data-html="2">
            <div class="CompanyRight_Top_Finance_Map" id="CompanyRight_Top_Finance_Map"></div>
            <br>
            <div class="CompanyRight_Top_Finance_Bar row">
              <div class="col-40 w100" id="CompanyRight_Top_Finance_Pie_Left"></div>
              <div class="col-60 w100" id="CompanyRight_Top_Finance_Bar_Right"></div>
            </div>
            <br>
            <div class="CompanyRight_Top_Finance_List row" >
              <div class="col-65 w100" id="CompanyRight_Top_Finance_List_Left"></div>
              <div class="col-35 w100" id="CompanyRight_Top_Finance_table_Right">
                <div>
                 <h5>累计纳税总额</h5>
                 <p><span>23.60</span>亿</p>
                 <br>
                  <h5>提供就业</h5>
                 <p><span>10.70</span>万</p>
               </div>
              </div>
            </div>
            <br><br><br>
        </div>

        <div class="CompanyRight_Top_Purchase" data-html="3" >
            <div class="CompanyRight_Top_Purchase_Bar row">
                <div class="col-40 w100" id="CompanyRight_Top_Purchase_Pie"></div>
                <div class="col-60 w100" id="CompanyRight_Top_Purchase_Bar"></div>
            </div>
            <div class="CompanyRight_Top_Purchase_List row">
                 <div class="col-65 w100" id="CompanyRight_Top_Purchase_List"></div>
                 <div class="col-35 w100 CompanyRight_Top_Purchase_table">
                  <h4>采购材料用量排行榜</h4>
                   <table  style="border-collapse:collapse;border:1px solid #4a545e;" class="PurchaseTable">
                     <thead> <tr><td>排行</td><td>材料</td><td>总用量(吨)</td></tr></thead>
                     <tbody>
                        <tr>
                          <td>1</td>
                          <td>单铜纸</td>
                          <td>3339</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>金卡纸</td>
                          <td>3034</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>银卡纸</td>
                          <td>2969</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>牛皮纸</td>
                          <td>2780</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>双铜纸</td>
                          <td>2590</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>坑纸</td>
                          <td>2107</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>特种纸</td>
                          <td>1890</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>纸板</td>
                          <td>1682</td>
                        </tr>
                     </tbody>
                   </table>
                 </div>
            </div>
        </div>

        <div class="CompanyRight_Top_Stock" data-html="4">
           <div class="Stock_top row">
               <div class="Stock_top_pie col-50 w100" id="Stock_top_pie"></div>
               <div class="Stock_top_bar col-50 w100" id="Stock_top_bar"></div>
           </div>
            <div class="Stock_top row">
               <div class="Stock_top_pie col-50 w100" id="Stock_bot_pie"></div>
               <div class="Stock_top_bar col-50 w100" id="Stock_bot_bar"></div>
           </div>
        </div>

        <div class="CompanyRight_Top_Capacity" data-html="5">
          <div class="Stock_top row">
               <table   style="border-collapse:collapse;border:1px solid #4a545e;width: 90%;margin:2% auto;" class="PurchaseTable deviceTable">
                 <tbody>
                   <tr class="tableTitle">
                     <td>设备</td>
                     <td>设备名称</td>
                     <td>产能</td>
                     <td>当前产能</td>
                     <td>能否按期完成</td>
                   </tr>
                    <tr class="tableContent">
                     <td>
                      <div class="imgWrap"><img src="../../Image/mobile/jiqi3.png" alt=""></div>
                     </td>
                     <td>海德堡印刷机速霸CD102</td>
                     <td>12000张/h</td>
                     <td>
                        <div class="produceWrap" >
                          <div class="produce" style="width: 95%;"></div>
                       </div>95%
                     </td>
                      <td>
                      <i class="iconfont icon-finish"></i>
                    </td>
                   </tr>
                   <tr class="tableContent">
                     <td>
                      <div class="imgWrap"><img src="../../Image/mobile/jiqi1.png" alt=""></div>
                     </td>
                     <td>SL-1060MPB系列 全自动平压平模切清废机</td>
                     <td>5000pcs/h</td>
                     <td>
                       <div class="produceWrap" >
                          <div class="produce"  style="width: 98%;"></div>
                       </div>98%
                     </td>
                    <td>
                      <i class="iconfont icon-finish"></i>
                    </td>
                   </tr>
                   <tr class="tableContent">
                     <td>
                      <div class="imgWrap"><img src="../../Image/mobile/jiqi2.png" alt=""></div>
                     </td>
                     <td>HM-ZD6418E/C全自动智能制盒机</td>
                     <td>1800pcs/h</td>
                     <td>
                        <div class="produceWrap" >
                          <div class="produce" style="width: 96%;"></div>
                       </div>96%
                     </td>
                     <td>
                      <i class="iconfont icon-finish"></i>
                    </td>
                   </tr>
                  
                  
                 </tbody>
               </table>
          </div>
          <div class="Stock_top row">
                <div  class="Stock_top_pie col-50 w100" id="CompanyRight_Top_Capacity_Bar"></div>
                <div class="CompanyRight_Top_Capacity_Intro col-50 w100" style="padding-top: 5%;">
                  <figure class="intro">
                    <figcaption>业态</figcaption>
                    <img src="/Image/mobile/intro.png" alt="业态">
                  </figure>
                </div>
           </div>

          
        </div>                



        <div class="CompanyRight_Bottom">
          <ul>
              <li><a href="#" class="SelectCompany_Menu" data-index="1"><i class="iconfont icon-renren"></i><span>人事</span></a></li>
              <li><a href="#" data-index="2"><i class="iconfont icon-caiwuchazhang"></i><span>财务</span></a></li>
              <li><a href="#" data-index="3"><i class="iconfont icon-icon-cart"></i><span style="padding-left: 5px">采购</span></a></li>
              <li><a href="#" data-index="4"><i class="iconfont icon-ERP_yujicangku"></i><span>库存</span></a></li>
              <li><a href="#" data-index="5"><i class="iconfont icon-932caidan_channeng"></i><span>产能</span></a></li>
            </ul>
        </div>
        <!-- 内容块 end -->
      </div>
    </div>

  </div>
</div>