
<div class="pages navbar-through toolbar-through">
    <div data-page="mertarialChoose" class="page" id="mertarialChoose" style="padding-top: 3rem;">
        <div class="row no-gutter">
            <div class="col-20"></div>
            <div class="col-80 contWrap">
                 <div class="loadAni" style="display: none;">
                        <span style="width:42px; height:42px" class="preloader"></span>  
                </div>
                <div class="conTitle">
                    <p class="conTitle">选择材质类型</p>
                </div>
                <div class="catogoryCho">
                    <div class="row ">
                        <div class="col-40 imgWrap">
                            <div class="catoImg">
                                <img src="" alt="">
                            </div>

                            <ul class="CatoSma">
                                <li  class="addBorderColor addColor">
                                    <img src="" alt="">
                                </li>
                                <li>
                                    <img src="" alt="">
                                </li>
                               
                            </ul>
                        </div>

                        <div class="col-60 mertarialRight">
                            <div class="row  no-gutter metaril">
                                <div class="col-10 itemName">材质:</div>
                                <div class="col-90 itemPho">
                                    
                                        <dl>
                                            <dt class="addBorder"> <img src="../../Image/mobile/page1.png" alt=""></dt>
                                            <dd class="addColor">单铜纸</dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../../Image/mobile/page2.png" alt=""></dt>
                                             <dd> 双面红牛皮纸</dd>
                                        </dl>
                                        <dl>
                                            <dt> <img src="../../Image/mobile/page3.png" alt=""></dt>
                                             <dd>金卡纸</dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../../Image/mobile/page4.png" alt=""></dt>
                                             <dd>食品级单铜纸</dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../../Image/mobile/page5.png" alt=""></dt>
                                             <dd>锡卡纸</dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../../Image/mobile/page6.png" alt=""></dt>
                                            <dd>雪白牛皮纸</dd>
                                        </dl>
                                   
                                </div>
                            </div>
                            <div class="row  no-gutter technology" >
                                <div class="col-10  itemName">工艺:</div>
                                <div class="col-90">
                                    <ul class="technologyPe">
                                        <li class="addBorderColor addColor">烫金</li>
                                        <li>击凸</li>
                                        <li>局部UV</li>
                                        <li>贴窗</li>
                                        
                                    </ul>
                                </div>
                            </div>

                            <div class="row  no-gutter surfaceDeal">
                                <div class="col-20  itemName">表面处理:</div>
                                <div class="col-80">
                                    <ul class="surfacePe">
                                        <li class="addBorderColor addColor">光油</li>
                                        <li>哑油</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row  no-gutter printColor">
                                <div class="col-20  itemName">印刷颜色:</div>
                                <div class="col-80">
                                    <ul class="colorPe">
                                        <li class="addBorderColor addColor">多色</li>
                                        <li>单色</li>
                                        <li>CMYK</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="nextBtn">
                    <a href="#" class="back link backBtn button button-fill  button-big">返回</a>
                    <a href="boxFinally.html" class="button button-fill  button-big">
                        下一步
                    </a>
                </div>   
            </div>
        </div>
    </div>
</div>