
            <!-- 顶部导航条-->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                       <!-- <img src="../../Image/mobile/logo_03.png" alt="">
                        劲嘉智慧终端运营 -->
                        <a href="#" class="backHome"><img src="../../Image/mobile/back.png" alt=""></a>
                    </div>
                    <div class="right">
                           <div class="name">
                               <span>Hi,admin</span>
                               <p class="photo" style="background: url(../../Image/mobile/logo_03.png) center center no-repeat;background-size: 100% 100%;border:1px solid #4a545e;"></p>
                              
                           </div>

                           <div class="corper">
                                 <a href="#" class="open-panel"><i class="iconfont icon-shezhi"></i></a>
                                <a href="" ><i class="iconfont icon-wo"></i></a>    
                           </div>
                       
                    </div>
                </div>
            </div>
            <!-- 子界面-->
            <div class="pages navbar-through toolbar-through">
                <input type="text" id="proType" value="0">
                <input type="text" id="boxType" value="">
                <div data-page="oAbox" class="page" id="oAbox" style="padding-top: 3rem;">
                        <div class="row  no-gutter">
                            <div class="col-20 wlg300"></div>
                            <div class="col-80 contWrap w100">
                                <div class="conTitle">
                                    <p class="conTitle">选择产品类型</p>
                                </div>
                                
                               <div class="conItem clear">
                                        <div class="oneItem homeSelect">
                                            <span class="iconfont icon-selected1"></span>
                                            <i class="iconfont icon-gengxin-shipin1"></i>
                                            <p>食品</p>
                                         </div>
                                         <div class="oneItem">
                                            <span class="iconfont icon-selected1"></span>
                                             <i class="iconfont icon-yanbaolei"></i>
                                             <p>烟包</p>
                                         </div>
                                         <div class="oneItem">
                                            <span class="iconfont icon-selected1"></span>
                                             <i class="iconfont icon-shouji"></i>
                                             <p>3C数码</p>
                                         </div>
                                         <div class="oneItem">
                                            <span class="iconfont icon-selected1"></span>
                                             <i class="iconfont icon-kouhong"></i>
                                             <p>化妆品</p>
                                         </div>
                                         <div class="oneItem">
                                            <span class="iconfont icon-selected1"></span>
                                             <i class="iconfont icon-gengduo"></i>
                                             <p>其他</p>
                                         </div>
                                         
                               </div>
                                 <div class="nextBtn">
                                    <a href="boxChoose.html" class="button button-fill  button-big">
                                        下一步
                                    </a>
                                </div>   
                            </div>
                        </div>     

                </div>
                
  
            </div>


